body {
  min-height: 75rem;
  padding-top: 1rem;
}

html{
  scroll-behavior:smooth;
}

/* Rounded images on main page */
#problems img {
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.row {
  margin-top: 0.5rem;
}

h3 {
  margin-top: 1rem;
}

h4 {
  margin-top: 0.5rem;
}

section:before {
  height: 3rem;
  content: "";
  display:block;
}

.text-white-75 {
  color: rgba(255, 255, 255, 0.75) !important;
}
