body {
  min-height: 75rem;
  padding-top: 3.5rem;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ff4f4f' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.extra-letter-spacing {
  letter-spacing: 0.1rem;
}

main img {
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2)
}

#problems > .row > .col,.col-md {
  -webkit-transition: transform .2s ease-out;
  -moz-transition: transform .2s ease-out;
  -o-transition: transform .2s ease-out;
  transition: transform .2s ease-out;
}

#problems > .row > .col:hover,.col-md:hover {
  transform: scale(1.1);
}

#problems .col, .col-md {
  padding: 15px;
}

#problem-details ul {
  padding-left: 24px;
}

.subtitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  color: white;
}

.subtitle > h6 {
  margin-bottom: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

h3 {
  margin-top: 1.5rem;
}

h4 {
  margin-top: 1rem;
}

section {
  padding-top: 3.5rem;
  margin-top: -3rem;
}

.price {
  min-width: 180px;
  text-align: center;
}

.text-white-90 {
  color: rgba(255, 255, 255, 0.9)
}

/* Jarallax */
#splash {
  height: 30vh;
  min-height: 350px;
  padding-top: 50px;
}

.jarallax {
  position: relative;
  z-index: 0;
}
.jarallax > .jarallax-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Slider */
#concept .slick-slide {
  position: relative;
  margin: 15px;
  -webkit-transition: transform .2s ease-out;
  -moz-transition: transform .2s ease-out;
  -o-transition: transform .2s ease-out;
  transition: transform .2s ease-out;
}

.slick-initialized .slick-slide {
  display: flex;
}

.slick-current + .slick-active {
  transform: scale(1.2);
}

#concept .slick-track {
  padding-top: 15px;
  padding-bottom: 25px;
  display: flex;
}

#slider-left:hover,#slider-right:hover {
  color: #ff3333;
}

#concept img {
  width: 100%;
  height: 100%;
}

#concept-description .slick-slide {
  justify-content: center;
  text-align: center;
}
